{% extends "list_of_cars.html" %}

{% block content %}
    <table class="table table-condensed">

        <caption>
            Car Additional Information
        </caption>

        <thead class="thead-inverse">

        <tr>
            <th>Dealer:</th>
            <td>{{ car.dealer }}</td>
        </tr>
        <tr>
            <th>Model:</th>
            <td>{{ car.model }}</td>
        </tr>
        <tr>
            <th>Color:</th>
            <td>{{ car.color }}</td>
        </tr>
        <tr>
            <th>Engine type:</th>
            <td>{{ car.engine_type }}</td>
        </tr>
        <tr>
            <th>Population type:</th>
            <td>{{ car.population_type }}</td>
        </tr>
        <tr>
            <th>Price:</th>
            <td>{{ car.price }}</td>
        </tr>
        <tr>
            <th>Fuel type:</th>
            <td>{{ car.fuel_type }}</td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>{{ car.status }}</td>
        </tr>
        <tr>
            <th>Doors:</th>
            <td>{{ car.doors }}</td>
        </tr>
        <tr>
            <th>Capacity:</th>
            <td>{{ car.fuel_capacity }}</td>
        </tr>
        <tr>
            <th>Gear case:</th>
            <td>{{ car.gear_case }}</td>
        </tr>
        <tr>
            <th>Number:</th>
            <td>{{ car.number }}</td>
        </tr>
        <tr>
            <th>Sitting Place:</th>
            <td>{{ car.sitting_place }}</td>
        </tr>
        <tr>
            <th>Registration date:</th>
            <td>{{ car.first_registration_date }}</td>
        </tr>
        <tr>
            <th>Engine power:</th>
            <td>{{ car.engine_power }}</td>
        </tr>
        </thead>

    </table>

{% endblock %}
